body {
  background-color: #d8ecf7;
  font-family: Luminari, fantasy;
  color:  #150f38;
}

	div {
	background-color: #b0ddf4;
	border: dotted #f7f8f8;
	border-width: 4.6px;
	width: 37%;
	margin: auto;
	text-align: center;
	padding: 10px;
	font-size: 19px;
	}

	input {
		width: 37%;
	}

#tiny {
	width: 6.4%;
}